/* base styles */
body {
    font-size: 62.5%; /* 16 x 62.5% = 10px */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* responsive image */
#img-div {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    background: white;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
#img-caption {
    margin: 1rem 0px;
}
/* main styles */
#main * {
    box-sizing: border-box;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
#title {
    border: 1px solid red;
    text-align: center;
}
.title-heading{
}
.section-heading {
}

