/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-size: 62.5%; /* 16 x 62.5% = 10px */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* responsive image */
#img-div {
    background-color: rgba(252,251,245,.3);
    border: 1px solid #FFF7A3;
    padding: 1rem;
    margin: 1rem .8rem;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
}
#img-caption {
    font-size: 1rem;
    text-align: center;
    margin-top: .1rem;
}
/* main styles */
#main * {
    box-sizing: border-box;
}
#main {
    background-color: #FFEE33;
}
#title {
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 0 .5rem;
}
.title-heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: .5rem;
}
/* heading styles */
.section-heading {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin: 1.2rem 0;
}
.heading-wrapper {
    width: 150px;
    padding-top: 2rem; 
    border-bottom: 2.5px solid #FFF7A3;
    margin: 0 auto;
}
.heading-wrapper2 {
    width: 150px;
    border-bottom: 2.5px solid #FFF7A3;
    margin: 0 auto;
}
.text {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 1.6rem;
}
.section-text {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 4rem;
    margin: 1.2rem 0;
}
.section-list {
    list-style: circle inside;
    width: 80%;
    padding-top: 1.5rem;
    margin: 0 auto;
    font-size: .9rem;
    text-align: center;
    line-height: 1.2rem;
}
.section-item {
    margin: .5rem 0;
}
 #final-heading {
    width: 90%;
    padding: 1.4rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
}
/* styles for link */

/* unvisited link */
#tribute-link {
    color: black;
    text-decoration: white wavy underline;
}
/* visted link */
#tribute-link:visited {
    color: purple;
}
/* mouse over link */
#tribute-link:hover {
    color: white;
    cursor: pointer;
}
