/* base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-size: 62.5%; /* 16 x 62.5% = 10px */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* responsive image */
#img-div {
    background-color: rgba(252,251,245,.3);
    border: 1px solid #FFF7A3;
    padding: 1rem;
    margin: 1rem .5rem;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
}
#img-caption {
    font-size: 1rem;
    text-align: center;
    margin-top: .1rem;
}
/* main styles */
#main * {
    box-sizing: border-box;
}
#main {
    background-color: #FFEE33;
}
#title {
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 0 .5rem;
}
.title-heading {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    margin: .5rem;
}
.section-heading {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 1rem 0;
}
.text {
    font-size: 1rem;
    line-height: 1.4rem;
    padding:.6rem;
}


